.about {
	height: 100vh;
	display: flex;

	@media screen and (max-width: 500px) {
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
	}

	.about-left {
		flex: 1;
		height: 100%;
		position: relative;

		@media screen and (max-width: 500px) {
			display: none;
		}

		@media screen and (max-width: 1100px) {
			display: none;
			// margin-bottom: 200px;
		}

		.waving-memoji {
			height: 500px;
			width: 500px;
			position: relative;
			top: 470px;

			@media screen and (max-width: 500px) {
				display: none;
			}

			@media screen and (max-width: 1100px) {
				display: none;
			}
		}
	}

	.about-right {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 80px;

		@media screen and (max-width: 500px) {
			padding: 0;
			justify-content: center;
			align-items: center;

			flex: none;
			width: 80%;
		}

		@media screen and (max-width: 1100px) {
			align-items: center;
			justify-content: center;
		}

		.about-title {
			font-size: 42px;

			@media screen and (max-width: 500px) {
				font-size: 25px;
				margin-bottom: 20px;
			}
		}

		.description {
			font-weight: 300;
			line-height: 45px;
			font-size: 30px;

			@media screen and (max-width: 500px) {
				font-size: 16px;
				line-height: 20px;
				width: 100%;
				margin: 0;
			}

			@media screen and (max-width: 1100px) {
				width: 80%;

				// margin-bottom: 200px;
			}

			.big-letters {
				font-size: 34px;

				@media screen and (max-width: 500px) {
					font-size: 20px;
				}
			}
		}

		.skills {
			margin-top: 40px;
			display: flex;
			width: 100%;

			.skill-icon-container {
				display: flex;
				flex-direction: row;
				margin-left: 40px;

				@media screen and (max-width: 500px) {
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					margin-left: 0;
				}

				@media screen and (max-width: 1100px) {
					flex-wrap: wrap;
					flex-direction: row;
					// width: 40%;
				}
			}

			@media screen and (max-width: 500px) {
				flex-direction: column;
			}
		}

		.circle {
			height: 150px;
			width: 150px;
			background-color: rgba(202, 200, 200, 0.2);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px;

			@media screen and (max-width: 500px) {
				height: 75px;
				width: 75px;
			}

			.skill-image {
				height: 110px;
				width: 110px;

				@media screen and (max-width: 500px) {
					height: 50px;
					width: 50px;
				}
			}
		}
	}

	.button.scroll {
		padding: 8px;
		background: rgb(73, 73, 73);
		display: inline-block;
		width: 50px;
		height: 50px;
		text-align: center;
		vertical-align: middle;
		border-radius: 50%;
		position: absolute;
		bottom: -950px;
		right: 100px;

		@media screen and (max-width: 500px) {
			position: absolute;
			width: 100%;
			height: 30px;
			top: 200.5vh;

			left: 0;
			// bottom: 0;
			// top: 70px;
			border-radius: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.scroll-down-arrow {
		margin: 18px 0 0;
		position: absolute;
		left: 28px;
		top: 7px;
		-webkit-animation: bounce 1000ms ease infinite;
		-moz-animation: bounce 1000ms ease infinite;
		-o-animation: bounce 1000ms ease infinite;
		animation: bounce 1000ms ease infinite;
		-webkit-animation-timing-function: cubic-bezier(0.14, 0.75, 0.2, 1.01);
		-moz-animation-timing-function: cubic-bezier(0.14, 0.75, 0.2, 1.01);
		-ms-animation-timing-function: cubic-bezier(0.14, 0.75, 0.2, 1.01);
		animation-timing-function: cubic-bezier(0.14, 0.75, 0.2, 1.01);
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 8px solid #f2f2f2;
		content: '';

		@media screen and (max-width: 500px) {
			position: absolute;
			left: 50vw;
			top: 100px;
		}
	}
	.button.scroll:before {
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: 0px 0px 3px white, inset 0px 0px 3px white;
		padding: 2px;
		z-index: -1;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		display: block;
		content: '';
		-webkit-animation: ring 1s alternate 0s infinite;
		-moz-animation: ring 1s alternate 0s infinite;
		-o-animation: ring 1s linear 0s infinite;
		animation: ring 1s linear 0s infinite;
	}
}

// Scroll button

@-webkit-keyframes bounce {
	0%,
	100% {
		top: 9px;
		opacity: 0.5;
	}
	25% {
		top: 12px;
		opacity: 1;
	}
	50% {
		opacity: 0.8;
	}
}
@keyframes bounce {
	0%,
	100% {
		top: 9px;
		opacity: 0.5;
	}
	25% {
		top: 12px;
		opacity: 1;
	}
	50% {
		opacity: 0.8;
	}
}
@-webkit-keyframes ring {
	0%,
	100% {
		-webkit-transform: scale(1, 1);
		opacity: 1;
	}
	75% {
		-webkit-transform: scale(1.2, 1.2);
		opacity: 0.4;
	}
}
@keyframes ring {
	0%,
	100% {
		transform: scale(1, 1);
		opacity: 1;
	}
	75% {
		transform: scale(1.2, 1.2);
		opacity: 0.4;
	}
}
